<!DOCTYPE html>
<html>
  <head>
    <title>Wechat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <body>
  <%= wechat_config_js debug: false, api: %w(hideMenuItems closeWindow) -%>
  <script type="application/javascript">
      wx.ready(function() {
          wx.hideOptionMenu();
      });
  </script>
  <a href="javascript:wx.closeWindow();">Close</a>
  </body>
    <%= yield %>
  </body>
</html>
